bin
ArchivosPacientes
ArchivosPacientes\*
ArchivosPacientes\*.*
ConnectionDispensario\ConnectionDispensario\bin
ConnectionDispensario\ConnectionDispensario\obj
ConnectionDispensario\ConnectionDispensario\obj\**
ConnectionDispensario\ConnectionDispensario\
*.csproj.user
**\Debug