USE [SistemaDispensario]
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Medicacion]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Borrar_Medicacion](@Id bigint)
as
begin
delete MedicacionHabitual where Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[Buscar_Paciente_By_Apellido]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Buscar_Paciente_By_Apellido](@CadenaBusqueda varchar(100))
as
begin
select *  from Pacientes where Apellido like '%' + @CadenaBusqueda + '%'
end

GO
/****** Object:  StoredProcedure [dbo].[CancelarConsulta]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[CancelarConsulta](@IdConsulta bigint)
as
begin
update Turnos set Estado='Cancelado' where Id=@IdConsulta
end

GO
/****** Object:  StoredProcedure [dbo].[ComenzarConsulta]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ComenzarConsulta](@IdConsulta bigint, @Hora varchar(50))
as
begin
update Turnos set HoraComienzoConsulta=Convert(datetime,@Hora,120), Estado='Progreso' where Id=@IdConsulta
end

GO
/****** Object:  StoredProcedure [dbo].[Delete_Toxicologia]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Toxicologia] (@Id bigint)
AS
BEGIN
DELETE AntecedentesToxicologicos where Id=@Id
END


GO
/****** Object:  StoredProcedure [dbo].[DerivarConsulta]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[DerivarConsulta](@IdConsulta bigint, @IdDerivado bigint, @Indicaciones text)
as
begin
update Turnos set IdDerivado=@IdDerivado, Estado='Derivado', Indicaciones=@Indicaciones where Id=@IdConsulta
end

GO
/****** Object:  StoredProcedure [dbo].[FinalizarConsulta]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[FinalizarConsulta](@IdConsulta bigint, @Hora varchar(50))
as
begin
update Turnos set HoraFinalConsulta=convert(datetime,@Hora,120),Estado='Finalizado' where Id=@IdConsulta
end

GO
/****** Object:  StoredProcedure [dbo].[Get_CIE10_by_Id]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_CIE10_by_Id](@Id bigint)
as
begin
select * from CIE10 where Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_Alergia]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Alergia](@IdPaciente bigint, @Alergia varchar(255))
as
begin
insert into AntecedentesAlergias(IdPaciente,Alergia) values (@IdPaciente,@Alergia)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_APF]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Insert_APF](@IdPaciente bigint, @Patologia varchar(255))
as
begin
insert into AntecedentesPatologicosFamiliares(IdPaciente,Patologia) values (@IdPaciente,@Patologia)
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_APP]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Insert_APP](@IdPaciente bigint, @Patologia varchar(255))
as
begin
insert into AntecedentesPatologicosPersonales(IdPaciente,Patologia) values (@IdPaciente,@Patologia)
end

GO
/****** Object:  StoredProcedure [dbo].[INSERT_DIAGNOSTICO]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_DIAGNOSTICO] (
@idPaciente bigint, 
@IdUser bigint,
@Fecha varchar(15),
@Diagnostico text)
as
begin
insert into Diagnosticos(IdPaciente,IdUser,Fecha,Diagnostico) values (@idPaciente,@IdUser,convert(datetime,@Fecha,120),@Diagnostico)
select  top 1 * from  Diagnosticos  order by Id DESC
end

GO
/****** Object:  StoredProcedure [dbo].[Insert_Diente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Diente](
@OdontogramaID varchar(100),
@DienteID bigint,
@Estado varchar(20)
) as 
begin
insert into Dientes(OdontogramaID, DienteID, Estado) values (@OdontogramaID, @DienteID, @Estado)
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Paciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insert_Paciente](
@Apellido varchar(50),
@Nombre varchar(50),
@FechaNacimiento varchar(50),
@NroDocumento varchar(9),
@Domicilio varchar(255),
@Localidad varchar(255),
@Telefono varchar(15),
@IdObraSocial bigint,
@NroObraSocial varchar(255),
@Sexo varchar(50))
as
BEGIN
INSERT INTO [Pacientes]
           (
           [Apellido]
           ,[Nombre]
           ,[FechaNacimiento]
           ,[NroDocumento]
           ,Domicilio
           ,Localidad
           ,[Telefono]
           ,[IdObraSocial]
           ,NroObraSocial
           ,Sexo
           )
     VALUES
           (
           @Apellido,
           @Nombre,
           convert(date,@FechaNacimiento,120),
           @NroDocumento,
           @Domicilio,
           @Localidad,
           @Telefono,
           @IdObraSocial,
           @NroObraSocial,
           @Sexo
           
           )
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_SomatometriaByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_SomatometriaByIdPaciente](
@IdPaciente bigint

)
as
begin
insert into Somatometria(IdPaciente) values (@IdPaciente)
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Toxicologia]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Toxicologia] (@IdPaciente bigint, @Toxicologia varchar(255))
AS
BEGIN
INSERT INTO AntecedentesToxicologicos(IdPaciente,Toxicologia) values (@IdPaciente, @Toxicologia)
END

GO
/****** Object:  StoredProcedure [dbo].[Insert_Turno]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_Turno](
@IdUser bigint, 
@PacienteID bigint, 
@HoraRecepcion varchar(50),
@HoraComienzoConsulta varchar(50),
@HoraFinalConsulta varchar(50))
as
begin
	Insert into Turnos(
	UserId,
	PacienteId,
	HoraRecepcion,
	HoraComienzoConsulta,
	HoraFinalConsulta,
	Estado,
	IdDerivado,
	Indicaciones
	) values (
	@IdUser,
	@PacienteID,
	convert(datetime,@HoraRecepcion,120),
	convert(datetime,@HoraComienzoConsulta,120),
	convert(datetime,@HoraFinalConsulta,120),
	'Espera',
	0,'Sin Indicaciones')
end

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Cirugia]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Insertar_Cirugia](@IdPaciente bigint, @Cirugia varchar(255))
as
begin
insert into AntecedentesCirugias(IdPaciente,Cirugia) values (@IdPaciente,@Cirugia)
end

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Medicacion]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Insertar_Medicacion](@IdPaciente bigint, @Medicacion varchar(255))
as
begin
insert into MedicacionHabitual(IdPaciente,Medicacion) values (@IdPaciente,@Medicacion)
end

GO
/****** Object:  StoredProcedure [dbo].[InsertOdontograma]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertOdontograma](
@UserId bigint, 
@PacienteId bigint,
@UID varchar(50),
@Fecha varchar(50))
as
begin
insert into Odontogramas(UserId, PacienteId, UID, Fecha) values (@UserId,@PacienteId,@UID,convert(datetime,@Fecha,120))
select Top(1) * From Odontogramas order by Id Desc
end
GO
/****** Object:  StoredProcedure [dbo].[InsertRegistroC1]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertRegistroC1](@UserId bigint, @CantidadHoras bigint, @fechac1 varchar(50))
as
begin
insert into RegistroC1(UserId,CantidadHoras,fechaC1) values (@UserId,@CantidadHoras,@fechac1)
end


GO
/****** Object:  StoredProcedure [dbo].[Search_ObrasSocial]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Search_ObrasSocial](@stringSearch varchar(255))
as
begin
select *  from ObrasSociales where Nombre like '%' + @stringSearch + '%' order by Nombre ASC
end

GO
/****** Object:  StoredProcedure [dbo].[Select_AlergiasByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Select_AlergiasByIdPaciente](@idPaciente bigint)
as
begin
select * from AntecedentesAlergias where IdPaciente=@idPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_AllTurnosByIdUser]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_AllTurnosByIdUser](@IdUser bigint)
as
begin
select * from Turnos where UserId=@Iduser
end

GO
/****** Object:  StoredProcedure [dbo].[Select_APF]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Select_APF](@IdPaciente bigint)
as
begin
Select * from AntecedentesPatologicosFamiliares where IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_APP]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Select_APP](@IdPaciente bigint)
as
begin
Select * from AntecedentesPatologicosPersonales where IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_CirugiasByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Select_CirugiasByIdPaciente](@IdPaciente bigint)
as
begin
select * from AntecedentesCirugias where IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_Diagnostico_By_Id]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Diagnostico_By_Id](@id bigint)
as
begin
select * from Diagnosticos where Id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[Select_Diagnosticos_By_IdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Diagnosticos_By_IdPaciente](@IdPaciente bigint)
as
begin
select * from Diagnosticos where IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_DientesByKeyOdontograma]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_DientesByKeyOdontograma](@Key varchar(100))
as
begin
select * from Dientes where OdontogramaID = @Key
end
GO
/****** Object:  StoredProcedure [dbo].[Select_MedicacionHabitual]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Select_MedicacionHabitual](@IdPaciente bigint)
as
begin
Select * from MedicacionHabitual where IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_ObraSocial_By_ID]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_ObraSocial_By_ID](@IdObraSocial bigint)
as
begin
select * from ObrasSociales where Id=@IdObraSocial
end

GO
/****** Object:  StoredProcedure [dbo].[Select_OdontogramasByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_OdontogramasByIdPaciente](@IdPaciente bigint)
as
begin
select * from Odontogramas where PacienteId = @IdPaciente
end
GO
/****** Object:  StoredProcedure [dbo].[SELECT_PACIENTE_BY_DNI]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_PACIENTE_BY_DNI] (@DNI varchar(255))
as
begin
select * from Pacientes where NroDocumento=@DNI
end

GO
/****** Object:  StoredProcedure [dbo].[Select_Paciente_By_GUI]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Paciente_By_GUI](@GUI varchar(255))
as
begin
select * from Pacientes where [GUID]=@GUI
end

GO
/****** Object:  StoredProcedure [dbo].[Select_PacienteByID]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Select_PacienteByID](@IdPaciente bigint)
as
begin
select * from Pacientes where Id=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_Riesgo]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Riesgo](@Diabetes bit, @Sexo varchar(2),@Edad bigint, @Tabaquismo bit)
as
begin 
	select * from RiesgoCardiovascular where Diabetes=@Diabetes and Sexo=@Sexo and Edad=@Edad and Tabaquismo=@Tabaquismo
end

GO
/****** Object:  StoredProcedure [dbo].[Select_SomatometriaByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_SomatometriaByIdPaciente](@IdPaciente bigint)
as
begin
select * from Somatometria where IdPaciente=@IdPaciente
end
GO
/****** Object:  StoredProcedure [dbo].[Select_Toxicologia]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Toxicologia] (@IdPaciente bigint)
AS
begin
SELECT * FROM AntecedentesToxicologicos WHERE IdPaciente=@IdPaciente
end

GO
/****** Object:  StoredProcedure [dbo].[Select_TurnoById]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_TurnoById](@IdTurno bigint)
as
begin
select * from Turnos where Id=@IdTurno
end

GO
/****** Object:  StoredProcedure [dbo].[Select_Turnos_By_Period]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Select_Turnos_By_Period](@IdUser bigint, @Start varchar(50), @End varchar(50), @Estado varchar(50))
as
begin
select * from Turnos where UserId=@IdUser and Estado = @Estado and HoraFinalConsulta between @Start and @End
end

GO
/****** Object:  StoredProcedure [dbo].[SelectC1FromUserId]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectC1FromUserId](@UserId bigint)
as
begin
	select * from RegistroC1 where UserId=@UserId
end


GO
/****** Object:  StoredProcedure [dbo].[Update_Diagnostico_In_Turno]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Update_Diagnostico_In_Turno](@IdTurno bigint, @Diagnostico text,@CIE10 bigint, @ControlEmbarazo bit)
as
begin
update Turnos set DiagnosticoFinal=@Diagnostico, CIE10=@CIE10, ControlEmbarazo=@ControlEmbarazo where Id=@IdTurno
end

GO
/****** Object:  StoredProcedure [dbo].[Update_Paciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Paciente](
@Id bigint,
@Apellido varchar(50),
@Nombre varchar(50),
@FechaNacimiento varchar(50),
@NroDocumento varchar(9),
@Domicilio varchar(255),
@Localidad varchar(255),
@Telefono varchar(15),
@IdObraSocial bigint,
@NroObraSocial varchar(255),
@Sexo varchar(50)

) 
as
begin
Update Pacientes set 
Apellido=@Apellido, 
Nombre=@Nombre,
FechaNacimiento=convert(date,@FechaNacimiento,120),
NroDocumento = @NroDocumento,
Domicilio = @Domicilio,
Localidad = @Localidad,
Telefono = @Telefono,
IdObraSocial = @IdObraSocial,
NroObraSocial = @NroObraSocial,
Sexo = @Sexo
where
Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[Update_SomatometriaByIdPaciente]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_SomatometriaByIdPaciente](
@IdPaciente bigint,
@IdUsuario bigint=NULL,
@Fecha varchar(50)=NULL,
@Peso decimal(18,2)=NULL,
@Talla decimal(18,2)=NULL,
@PASistolica bigint=NULL,
@PADiastolica bigint=NULL,
@IMC decimal(18,2)=NULL,
@Colesterol decimal(18,2)=NULL
)
as
begin
update Somatometria set 
IdUsuario=@IdUsuario,
FechaHora=@Fecha,
Peso=@Peso,
Talla=@Talla,
PASistolica=@PASistolica,
PADiastolica=@PADiastolica,
IMC=@IMC,
Colesterol=@Colesterol
 where IdPaciente=@IdPaciente
end
GO
/****** Object:  Table [dbo].[AntecedentesAlergias]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AntecedentesAlergias](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Alergia] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AntecedentesAlergias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AntecedentesCirugias]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AntecedentesCirugias](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Cirugia] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AntecedentesCirugias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AntecedentesPatologicosFamiliares]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AntecedentesPatologicosFamiliares](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Patologia] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AntecedentesPatologicosFamiliares] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AntecedentesPatologicosPersonales]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AntecedentesPatologicosPersonales](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Patologia] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AntecedentesPatologicosPersonales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AntecedentesToxicologicos]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AntecedentesToxicologicos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Toxicologia] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AntecedentesToxicologicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIE10]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIE10](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Codigo] [text] NOT NULL,
	[Etiqueta] [text] NOT NULL,
	[Counter] [bigint] NOT NULL,
 CONSTRAINT [PK_CIE10] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diagnosticos]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diagnosticos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[IdUser] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[HUID] [varchar](200) NOT NULL,
	[Diagnostico] [text] NOT NULL,
 CONSTRAINT [PK_Diagnosticos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dientes]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dientes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OdontogramaID] [varchar](100) NOT NULL,
	[DienteID] [bigint] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Dientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MedicacionHabitual]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MedicacionHabitual](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NOT NULL,
	[Medicacion] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MedicacionHabitual] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObrasSociales]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObrasSociales](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ObrasSociales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Odontogramas]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Odontogramas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[PacienteId] [bigint] NOT NULL,
	[UID] [varchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Odontogramas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[NroDocumento] [varchar](9) NOT NULL,
	[Domicilio] [varchar](255) NOT NULL,
	[Localidad] [varchar](255) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[IdObraSocial] [bigint] NOT NULL,
	[NroObraSocial] [varchar](255) NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegistroC1]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroC1](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[fechaC1] [datetime] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CantidadHoras] [bigint] NOT NULL,
 CONSTRAINT [PK_RegistroC1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RiesgoCardiovascular]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RiesgoCardiovascular](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Diabetes] [bit] NOT NULL,
	[Sexo] [varchar](2) NOT NULL,
	[Edad] [bigint] NOT NULL,
	[Tabaquismo] [bit] NOT NULL,
	[PAS] [bigint] NOT NULL,
	[Colesterol] [bigint] NOT NULL,
	[Riesgo] [varchar](2) NOT NULL,
 CONSTRAINT [PK_RiesgoCardiovascular] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Somatometria]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Somatometria](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [bigint] NULL,
	[IdUsuario] [nchar](10) NULL,
	[FechaHora] [datetime] NULL,
	[Peso] [decimal](18, 2) NULL,
	[Talla] [decimal](18, 2) NULL,
	[PASistolica] [bigint] NULL,
	[PADiastolica] [bigint] NULL,
	[IMC] [decimal](18, 2) NULL,
	[Colesterol] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Somatometria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 10/28/2018 4:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turnos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[PacienteId] [bigint] NOT NULL,
	[HoraRecepcion] [datetime] NOT NULL,
	[HoraComienzoConsulta] [datetime] NOT NULL,
	[HoraFinalConsulta] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[IdDerivado] [bigint] NOT NULL,
	[Indicaciones] [text] NOT NULL,
	[DiagnosticoFinal] [text] NULL,
	[CIE10] [bigint] NULL,
	[ControlEmbarazo] [bit] NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AntecedentesAlergias] ON 

INSERT [dbo].[AntecedentesAlergias] ([Id], [IdPaciente], [Alergia]) VALUES (1, 2, N'Antecedente Al. de prueba')
SET IDENTITY_INSERT [dbo].[AntecedentesAlergias] OFF
SET IDENTITY_INSERT [dbo].[AntecedentesCirugias] ON 

INSERT [dbo].[AntecedentesCirugias] ([Id], [IdPaciente], [Cirugia]) VALUES (1, 2, N'AQ de prueba')
INSERT [dbo].[AntecedentesCirugias] ([Id], [IdPaciente], [Cirugia]) VALUES (2, 1, N'hola')
INSERT [dbo].[AntecedentesCirugias] ([Id], [IdPaciente], [Cirugia]) VALUES (10002, 1, N'asd')
SET IDENTITY_INSERT [dbo].[AntecedentesCirugias] OFF
SET IDENTITY_INSERT [dbo].[AntecedentesPatologicosFamiliares] ON 

INSERT [dbo].[AntecedentesPatologicosFamiliares] ([Id], [IdPaciente], [Patologia]) VALUES (1, 2, N'APF de prueba')
SET IDENTITY_INSERT [dbo].[AntecedentesPatologicosFamiliares] OFF
SET IDENTITY_INSERT [dbo].[AntecedentesPatologicosPersonales] ON 

INSERT [dbo].[AntecedentesPatologicosPersonales] ([Id], [IdPaciente], [Patologia]) VALUES (1, 2, N'APP de prueba')
INSERT [dbo].[AntecedentesPatologicosPersonales] ([Id], [IdPaciente], [Patologia]) VALUES (2, 1, N'Diabetes')
INSERT [dbo].[AntecedentesPatologicosPersonales] ([Id], [IdPaciente], [Patologia]) VALUES (3, 2, N'diabetes mellitus tipo 2')
SET IDENTITY_INSERT [dbo].[AntecedentesPatologicosPersonales] OFF
SET IDENTITY_INSERT [dbo].[AntecedentesToxicologicos] ON 

INSERT [dbo].[AntecedentesToxicologicos] ([Id], [IdPaciente], [Toxicologia]) VALUES (4, 1, N'hola')
INSERT [dbo].[AntecedentesToxicologicos] ([Id], [IdPaciente], [Toxicologia]) VALUES (6, 1, N'cocaina')
INSERT [dbo].[AntecedentesToxicologicos] ([Id], [IdPaciente], [Toxicologia]) VALUES (7, 1, N'tabaquismo')
SET IDENTITY_INSERT [dbo].[AntecedentesToxicologicos] OFF
SET IDENTITY_INSERT [dbo].[Diagnosticos] ON 

INSERT [dbo].[Diagnosticos] ([Id], [IdPaciente], [IdUser], [Fecha], [HUID], [Diagnostico]) VALUES (1, 1, 1, CAST(0x0000A84800000000 AS DateTime), N'924BD8A3-FD09-4D04-BAC0-FDBC5B201B69', N'asdasdasd')
INSERT [dbo].[Diagnosticos] ([Id], [IdPaciente], [IdUser], [Fecha], [HUID], [Diagnostico]) VALUES (2, 1, 2, CAST(0x0000A84800000000 AS DateTime), N'2829F1D1-D8B6-42A4-B553-A1ADBD68B026', N'Hola que tal')
INSERT [dbo].[Diagnosticos] ([Id], [IdPaciente], [IdUser], [Fecha], [HUID], [Diagnostico]) VALUES (3, 1, 1, CAST(0x0000A84800000000 AS DateTime), N'1337B3E5-4ED9-4F28-B976-121C7601ED40', N'asd')
SET IDENTITY_INSERT [dbo].[Diagnosticos] OFF
SET IDENTITY_INSERT [dbo].[Dientes] ON 

INSERT [dbo].[Dientes] ([Id], [OdontogramaID], [DienteID], [Estado]) VALUES (1, N'c5432196-3692-4976-b3b7-4b46725d6b74', 18, N'bbbbrxx')
INSERT [dbo].[Dientes] ([Id], [OdontogramaID], [DienteID], [Estado]) VALUES (2, N'c5432196-3692-4976-b3b7-4b46725d6b74', 17, N'xxxxxrx')
INSERT [dbo].[Dientes] ([Id], [OdontogramaID], [DienteID], [Estado]) VALUES (3, N'c5432196-3692-4976-b3b7-4b46725d6b74', 16, N'xxxxxxr')
GO
SET IDENTITY_INSERT [dbo].[Dientes] OFF
SET IDENTITY_INSERT [dbo].[MedicacionHabitual] ON 

INSERT [dbo].[MedicacionHabitual] ([Id], [IdPaciente], [Medicacion]) VALUES (1, 2, N'Medicacion de prueba')
INSERT [dbo].[MedicacionHabitual] ([Id], [IdPaciente], [Medicacion]) VALUES (2, 2, N'Medicacion de prueba 2')
SET IDENTITY_INSERT [dbo].[MedicacionHabitual] OFF
SET IDENTITY_INSERT [dbo].[ObrasSociales] ON 

INSERT [dbo].[ObrasSociales] ([Id], [Nombre]) VALUES (1, N'OsDePrueba')
SET IDENTITY_INSERT [dbo].[ObrasSociales] OFF
SET IDENTITY_INSERT [dbo].[Odontogramas] ON 

INSERT [dbo].[Odontogramas] ([Id], [UserId], [PacienteId], [UID], [Fecha]) VALUES (1, 2, 1, N'c5432196-3692-4976-b3b7-4b46725d6b74', CAST(0x0000A85D00000000 AS DateTime))
INSERT [dbo].[Odontogramas] ([Id], [UserId], [PacienteId], [UID], [Fecha]) VALUES (2, 2, 1, N'abb9a96c-7336-48c7-a97f-ea86be85cb0d', CAST(0x0000A85D00000000 AS DateTime))
INSERT [dbo].[Odontogramas] ([Id], [UserId], [PacienteId], [UID], [Fecha]) VALUES (3, 2, 1, N'9055141f-e799-4107-a9e9-3162ae76bf58', CAST(0x0000A85D00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Odontogramas] OFF
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([Id], [GUID], [Apellido], [Nombre], [FechaNacimiento], [NroDocumento], [Domicilio], [Localidad], [Telefono], [IdObraSocial], [NroObraSocial], [Sexo]) VALUES (1, N'A5E50E6F-D5FB-452C-A3E9-9DBA9352AF7A', N'Chaves', N'David Leonardo', CAST(0x0FEF0A00 AS Date), N'31807935', N'Intendente Boglio 514', N'Arroyo Cabral', N'3534084119', 1, N'6354564564', N'Masculino')
INSERT [dbo].[Pacientes] ([Id], [GUID], [Apellido], [Nombre], [FechaNacimiento], [NroDocumento], [Domicilio], [Localidad], [Telefono], [IdObraSocial], [NroObraSocial], [Sexo]) VALUES (2, N'37CA9322-8286-456D-84FD-4F4FF5CC4F07', N'Maricel', N'Gomez', CAST(0x5E0E0B00 AS Date), N'31217874', N'Intendente Boglio 514', N'Arroyo Cabral', N'3534084119', 1, N'31807935', N'Femenino')
INSERT [dbo].[Pacientes] ([Id], [GUID], [Apellido], [Nombre], [FechaNacimiento], [NroDocumento], [Domicilio], [Localidad], [Telefono], [IdObraSocial], [NroObraSocial], [Sexo]) VALUES (4, N'EC81E9C7-9399-47C7-8C8E-342A5063FDD2', N'Hernan', N'Rodolfi', CAST(0xE00F0B00 AS Date), N'31584123', N'Pje Jose INgenieros 820', N'Arroyo Cabral', N'23978498234', 1, N'3497853054', N'Masculino')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
SET IDENTITY_INSERT [dbo].[RiesgoCardiovascular] ON 

INSERT [dbo].[RiesgoCardiovascular] ([Id], [Diabetes], [Sexo], [Edad], [Tabaquismo], [PAS], [Colesterol], [Riesgo]) VALUES (1, 1, N'H', 70, 0, 180, 155, N'B')
INSERT [dbo].[RiesgoCardiovascular] ([Id], [Diabetes], [Sexo], [Edad], [Tabaquismo], [PAS], [Colesterol], [Riesgo]) VALUES (2, 1, N'H', 70, 0, 180, 193, N'B')
INSERT [dbo].[RiesgoCardiovascular] ([Id], [Diabetes], [Sexo], [Edad], [Tabaquismo], [PAS], [Colesterol], [Riesgo]) VALUES (3, 1, N'H', 70, 0, 180, 232, N'B')
GO
SET IDENTITY_INSERT [dbo].[RiesgoCardiovascular] OFF
SET IDENTITY_INSERT [dbo].[Somatometria] ON 

INSERT [dbo].[Somatometria] ([Id], [IdPaciente], [IdUsuario], [FechaHora], [Peso], [Talla], [PASistolica], [PADiastolica], [IMC], [Colesterol]) VALUES (1, 1, N'1         ', CAST(0x0000A93601407AF8 AS DateTime), CAST(54.00 AS Decimal(18, 2)), CAST(1.65 AS Decimal(18, 2)), 160, 200, CAST(19.83 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Somatometria] OFF
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([Id], [UserId], [PacienteId], [HoraRecepcion], [HoraComienzoConsulta], [HoraFinalConsulta], [Estado], [IdDerivado], [Indicaciones], [DiagnosticoFinal], [CIE10], [ControlEmbarazo]) VALUES (1, 2, 1, CAST(0x0000A848018B382C AS DateTime), CAST(0x0000A86000D384D4 AS DateTime), CAST(0x0000A86000D3A0F4 AS DateTime), N'Finalizado', 0, N'Sin Indicaciones', N'diag 4', 0, 0)
INSERT [dbo].[Turnos] ([Id], [UserId], [PacienteId], [HoraRecepcion], [HoraComienzoConsulta], [HoraFinalConsulta], [Estado], [IdDerivado], [Indicaciones], [DiagnosticoFinal], [CIE10], [ControlEmbarazo]) VALUES (2, 3, 1, CAST(0x0000A8490006F8C4 AS DateTime), CAST(0x0000A8490006F8C4 AS DateTime), CAST(0x0000A8490006F8C4 AS DateTime), N'Espera', 0, N'Sin Indicaciones', NULL, 0, NULL)
INSERT [dbo].[Turnos] ([Id], [UserId], [PacienteId], [HoraRecepcion], [HoraComienzoConsulta], [HoraFinalConsulta], [Estado], [IdDerivado], [Indicaciones], [DiagnosticoFinal], [CIE10], [ControlEmbarazo]) VALUES (10002, 2, 1, CAST(0x0000A86000D095A8 AS DateTime), CAST(0x0000A86000D38150 AS DateTime), CAST(0x0000A86000D399EC AS DateTime), N'Finalizado', 0, N'Sin Indicaciones', N'diag 3', 0, 0)
SET IDENTITY_INSERT [dbo].[Turnos] OFF
ALTER TABLE [dbo].[CIE10] ADD  CONSTRAINT [DF_CIE10_Counter]  DEFAULT ((0)) FOR [Counter]
GO
ALTER TABLE [dbo].[Diagnosticos] ADD  CONSTRAINT [DF_Diagnosticos_HUID]  DEFAULT (newid()) FOR [HUID]
GO
ALTER TABLE [dbo].[Pacientes] ADD  CONSTRAINT [DF_Table_1_]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[Turnos] ADD  CONSTRAINT [DF_Turnos_CIE10]  DEFAULT ((0)) FOR [CIE10]
GO
